.container.jackpot {
  color: #ccc;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.container.jackpot svg {
  height: 30px;
  margin-left: 8px;
  vertical-align: -4px;
}

.container.jackpot .countdown {
  font-weight: 100;
  padding-top: 20px;
}