.slots {
  text-align: center;
  margin-bottom: 30px;
}

/* 16:9 ASPECT RATIO */

/* 16:9 = 16/9 = width / height = (9 * 200 / 16) = 112.5 */

.slots .slot {
  background-color: #383949;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  display: inline-block;
  height: 112.5px;
  margin: 2px;
  position: relative;
  width: 150px;
}

.slots .slot {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}

.slot svg {
  width: 200px;
  height: 112.5px;
}

.slot .reward {
  bottom: -25px;
  color: #ccc;
  position: absolute;
  width: 150px;
  height: 20px;
  z-index: 99;
  font-size: 18px;
}

.slot.snek {
  background-image: url('./images/tsnek.png');
}

.slot.whale {
  background-image: url('./images/twhale.png');
}

.slot.bull {
  background-image: url('./images/tbull.png');
}

.slot.bear {
  background-image: url('./images/tbear.png');
}

.spin-wrapper {
  text-align: center;
}

.spin-wrapper button {
  background-color: #ccc;
  border: none;
  border-radius: 10px;
  color: #333;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 50px;
  letter-spacing: 1px;
  width: 50%;
}

.spin-wrapper .cost {
  color: #ccc;
  font-size: 13px;
  font-weight: 100;
  padding-top: 10px;
}

.spin-wrapper button>div {
  color: #ccc;
  font-size: 15px;
  font-weight: 100;
}

@media only screen and (max-width: 800px) {
  .slots .wrapper {
    display: inline-block;
    max-width: 400px;
    margin-bottom: 50px;
  }
  .slots .slot {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 450px) {
  .slots .slot:last-of-type {
    margin-bottom: 0;
  }
}

/* .slots .slot:nth-of-type(1) .graphic {
  animation-name: slot1;
  animation-duration: 10s;
  animation-timing-function: linear;
}

@keyframes slot1 {
  0% {
    top: 0;
  }
  100% {
    top: -1012px;
  }
} */